:root {
  --navbar-height: 7vh;
  --primary-color: #B24C63;
  --secondary-color: #B0DAF1;
  --navbar-animation-step: 0.3s;
  --navbar-animation-width: 1rem;
  --navbar-animation-height: 0.2rem;
  --navbar-animation-distance: 0.3rem;
}

body {
  margin: 0;
}

/* Navbar Styling */
.navbar {
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem 1rem;
  color: white;
}

.navbar ul {
    padding: 0;
}

.navbar a {
  display:block;
  padding: 0.2rem;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: grey;
}

.navbar-spacer {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--secondary-color);
}

/* Navbar Collapse */
.navbar-content {
  max-height: 0;
  overflow: hidden;
}

input:checked ~ .navbar-content {
    max-height: 100%;
}

/* Fancy Checkbox Animation */
.navbar-menu {
  display:none;
}

.bar-container {
  display: inline-block;
  height: calc(2 * var(--navbar-animation-height) + var(--navbar-animation-distance));
  width: calc(var(--navbar-animation-width));
}

.bar1, .bar2 {
  width: var(--navbar-animation-width);
  height: var(--navbar-animation-height);
  background-color: white;

  transition-property: margin-top, transform;
  transition-duration: var(--navbar-animation-step);
  transition-delay: var(--navbar-animation-step), 0s, var(--navbar-animation-step);
  transition-timing-function: ease-in-out;
}

.bar1 {
  margin-top: 0;
}

.bar2 {
  margin-top: var(--navbar-animation-distance);
  margin-bottom: 0;
}

input:checked+label>.bar1 {
  transition-delay: 0s, var(--navbar-animation-step);
  margin-top: calc(0.5 * var(--navbar-animation-distance) + 0.5 * var(--navbar-animation-height));
  transform:rotate(-45deg);
}

input:checked+label>.bar2 {
  transition-delay: 0s, var(--navbar-animation-step);
  margin-top: calc(-1 * var(--navbar-animation-height));
  transform:rotate(45deg);
}
