:root {
  --navbar-height: 1000px;
  --primary-color: #B24C63;
  --secondary-color: #B0DAF1;
  --navbar-animation-step: 0.15s;
  --navbar-animation-width: 1rem;
  --navbar-animation-height: 0.2rem;
  --navbar-animation-distance: 0.3rem;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222222;
    --text-color: #DDDDDD;
    --link-color: #DDDDDD;
    --link-hover-color: #AAAAAA;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #DDDDDD;
    --text-color: #222222;
    --link-color: #222222;
    --link-hover-color: #444444;
  }
}

body {
  margin: 0;
  font-family: ui-sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body a {
  color: var(--link-color);
}

body a:hover {
  color: var(--link-hover-color);
}

.content *:first-child {
  margin-top: 0;
}

.monospaced {
  font-family: ui-monospace;
}

/* Shared Styling */

.marginal {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
}

.marginal a {
  color: white;
  text-decoration: none;
}

.marginal a:hover {
  color: grey;
}

/* Navbar Styling */
.navbar {
  display: flex;
  flex-flow: row wrap;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar-title {
  display: inline-block;
  flex-grow: 2;
  margin-right: calc(var(--navbar-animation-width) + 2rem);
  text-align: center;
  padding: 1rem;
}

.navbar-content {
  display: inline-flex;
  flex-grow: 2;
  padding: 0;
  margin: 0;
  width: 100%; /* Force onto new line */
  flex-flow: column nowrap;
}

.navbar-content li {
  border-bottom: 1px solid white;
}

.navbar-content a {
  display: inline-block;
  padding: 0.5rem 1rem;
  width: 100%;
}

.navbar-content li:last-child {
  border-bottom: none;
}

/* Navbar Collapse */
.navbar-content {
  max-height: 0;
  overflow: hidden;
  
  transition: max-height var(--navbar-animation-step) cubic-bezier(0, 1, 0, 1);
}

input:checked ~ .navbar-content {
    max-height: 500px;
    transition: max-height 1s ease-in;
}

/* Fancy Checkbox Animation */
.navbar-menu {
  display: none;
}

.bar-container {
  display: inline-block;
  height: calc(2 * var(--navbar-animation-height) + var(--navbar-animation-distance));
  width: calc(var(--navbar-animation-width));
  padding: 1rem;
}

.bar1, .bar2 {
  width: var(--navbar-animation-width);
  height: var(--navbar-animation-height);
  background-color: white;

  transition-property: margin-top, transform;
  transition-duration: var(--navbar-animation-step);
  transition-delay: var(--navbar-animation-step), 0s, var(--navbar-animation-step);
  transition-timing-function: ease-in-out;
}

.bar1 {
  margin-top: 0;
}

.bar2 {
  margin-top: var(--navbar-animation-distance);
  margin-bottom: 0;
}

input:checked+label>.bar1 {
  transition-delay: 0s, var(--navbar-animation-step);
  margin-top: calc(0.5 * var(--navbar-animation-distance) + 0.5 * var(--navbar-animation-height));
  transform:rotate(-45deg);
}

input:checked+label>.bar2 {
  transition-delay: 0s, var(--navbar-animation-step);
  margin-top: calc(-1 * var(--navbar-animation-height));
  transform:rotate(45deg);
}

/* Expanded Navbar */
@media (min-width:30rem)  {
  .navbar {
    flex-flow: row nowrap;
  }
  
  .navbar-title {
    flex-grow: 0;
    margin-right: 0;
  }
  
  .navbar-content {
    max-height: 100%;
    margin: 0;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  
  .navbar li {
    display: inline-block;
    border: none;
  }
  
  .navbar a {
    padding: 1rem 0.5rem;
  }
  
  .bar-container {
    display: none;
  }
}

/* Footer Styling */
.footer {
  height: 3rem;
  background-color: var(--primary-color);
}

.footer #credit {
  padding: 1rem;
  height: 1rem;
}

#credit-code {
  font-size: 1.4rem;
  text-decoration: none;
}

#credit-heart {
  font-size: 0.75rem;
}
