.navbar {
  background-color: $primaryColor;

  a {
    color: white;
  }

  .navbar-brand:hover, .navbar-brand:focus{
    color: darken($primaryColor, 20%);
    background-color: #EEE;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    color: darken($primaryColor, 20%);
    background-color: #EEE;
  }

  .navbar-header {

    .icon-bar {
      background-color: white;
    }
  }
}
