.navbar {
  background-color: $primaryColor;

  a, p {
    color: white;
  }

  .navbar-brand:hover, .navbar-brand:focus{
    color: darken($primaryColor, 20%);
    background-color: #EEE;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    color: darken($primaryColor, 20%);
    background-color: #EEE;
  }

  .navbar-header {

    .icon-bar {
      background-color: white;
    }
  }
}

.navbar-static-bottom{
  @extend .navbar-static-top;

  margin-bottom: 0 !important;
}
