.navbar {
  background-color: $primaryColor;

  a, p {
    color: white;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    color: $secondaryColor;
    background-color: inherit;
  }

  .navbar-header {
    .fa-bars {
      color: white;
      font-size: 2em;
    }

    .navbar-toggle {
      margin-top: 0;
      margin-bottom: 0;
    }


    .fa-bars:hover, .fa-bars:focus {
      color: $secondaryColor;
    }

    .navbar-brand:hover, .navbar-brand:focus {
      color: $secondaryColor;
      background-color: inherit;
    }
  }
}

.navbar-static-bottom{
  @extend .navbar-static-top;

  margin-bottom: 0 !important;
}
