@import "base";
@import "navbar";
@import "carousel";
@import "./fa/font-awesome";
@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

#logo img {
  margin: 0;
  max-width: none;
  width: 100%;
}
