<footer class="footer">
  <div class="container">

    <ul class="nav navbar-nav">
      <li role="presentation"> <a href="/contact/"> Contact </a> </li>
      <li class="navbar-right">
        <p class="navbar-text text-muted">
          <a title="I totally didn't steal this from Github.">
            <i class="fa fa-lg fa-angle-left" aria-hidden="true"></i>
            <i class="fa fa-lg fa-angle-right" aria-hidden="true"></i>
          </a>
          with <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i> by
          <a href="https://github.com/chbachman">
            chbachman
          </a>
        </p>
      </li>
    </ul>

  </div>
</footer>
