<nav class="navbar navbar-static-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</button>
		<a class="navbar-brand" ui-sref="app">chbachman</a>
	</div>

	<div class="collapse navbar-collapse" uib-collapse="navCollapsed">
		<ul class="nav navbar-nav">
			<li><a ui-sref="ma">Modular Armour</a></li>
			<li ng-show="$root.developer"><a ui-sref="personality">Personality</a></li>
			<li ng-show="$root.developer"><a ui-sref="notepad">Notepad</a></li>
		</ul>
	</div>
</nav>
